.features {
  display: flex;
  width: 100%;
  flex-direction: column;
  &__feature {
    width: 100%;
    height: 250px;
    color: var(--main-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3em;
    img {
      max-height: 111 * 2px;
      height: 100%;
      max-width: 130px;
    }
    p {
      margin-top: 2em;
      font-family: var(--second-font);
      text-align: center;
      max-width: 250px;
      font-size: 14px;
    }
    &:nth-child(1) {
      img {
        max-height: 120px;
      }
      background-color: var(--black-one);
    }
    &:nth-child(2) {
      background-color: var(--black-two);
    }
    &:nth-child(3) {
      img {
        max-height: 111 * 1.2px;
        animation: coin 9s infinite ease-in-out;
      }
      background-color: var(--black-three);
    }
  }
}
@media (min-width: 760px) {
  .features {
    flex-direction: row;
    &__feature {
      img {
        width: 20vmin;
      }
    }
  }
}
@keyframes coin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
