.hero {
  &__header {
    background-color: var(--main-yellow);
    display: flex;
    padding: 1.5em;

    a {
      margin-right: 3em;
      img {
        width: 45px;
        height: 100%;
      }
    }
  }
  &__nav-bar {
    max-width: 767px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
      text-decoration: none;
      color: var(--black-one);
      font-family: var(--main-font);
      font-weight: 700;
      font-size: 0.8em;
      &:hover {
        color: var(--main-white);
      }
    }
  }
  &__info {
    max-width: 767px;
    margin-top: 2em;
    padding: 1.5em;
    padding-bottom: 4em;
  }
  &__title {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 37px;
    margin-bottom: 0.6em;
    strong:nth-child(2) {
      color: var(--main-salmon);
    }
  }
  p {
    font-family: var(--second-font);
    font-weight: 700;
    font-size: 0.8em;
    margin-bottom: 2em;
    color: var(--black-three);
  }
  &__form {
    height: 2.5em;
    display: flex;
    justify-content: space-between;
    input {
      border-radius: 5px;
      width: 262px;
      flex-grow: 3;
      flex-shrink: 2;
      margin-right: 1em;
      outline: none;
      border: none;
      background-color: var(--second-white);
      font-family: var(--second-font);
      font-weight: 700;
      font-size: 0.8em;
      color: #a5a5a5;
      padding: 0 1em;
    }
    button {
      border-radius: 5px;
      flex-grow: 2;
      flex-shrink: 0;
      padding: 0 0.3em;
      width: 70px;
      background-color: var(--main-yellow);
      font-family: var(--second-font);
      font-weight: 700;
      font-size: 0.8em;
    }
  }

  &__collage {
    background-color: var(--black-one);
    z-index: -2;
    overflow: hidden;
    position: relative;
    height: 140vmin;
    max-height: 812px;
    min-height: 380px;

    img {
      position: absolute;
      z-index: 100;
      transform: translate(-45%, 0%);
      left: 50%;
      bottom: 0;
      height: 80%;
      width: auto;
    }
  }
  &__circle-big {
    position: absolute;
    transform: translate(-50%, -62%);
    left: 50%;
    top: 50%;
    background-color: var(--main-salmon);
    overflow: hidden;
    width: 90vmin;
    height: 90vmin;
    max-width: 585px;
    max-height: 585px;
    border-radius: 500px;
    margin: 0 auto;
    z-index: 0;
    h1 {
      position: absolute;
      font-family: var(--main-font);
      font-weight: 700;
      color: var(--main-white);
      font-size: 4em;
      animation: moving-odd 5s infinite;
    }
    h1:nth-child(even) {
      top: 80px;
      left: -80px;
      animation: moving-even 5s infinite;
    }
  }
  &__circle-small {
    transform: translate(120%, 150%);
    left: 50%;
    bottom: 24%;
    position: absolute;
    z-index: 10;
    width: 15vmin;
    height: 15vmin;
    max-width: 90px;
    max-height: 90px;
    border-radius: 500px;
    background-color: var(--main-white);
  }
  &__text-wrapper {
    position: relative;
    top: -45px;
    width: 900%;
  }
  &__curly {
    z-index: 100;
    transform: rotate(30deg) translate(-80%, 80%);
    left: 50%;
    bottom: 0;
    position: absolute;

    path {
      stroke: var(--main-yellow);
    }
  }
}

@keyframes moving-even {
  0% {
    left: -200px;
  }
  50% {
    left: 0;
  }
  100% {
    left: -200px;
  }
}
@keyframes moving-odd {
  0% {
    left: 0;
  }
  50% {
    left: -200px;
  }
  100% {
    left: 0;
  }
}
@media (min-width: 530px) {
  .hero {
    &__collage {
      img {
      }
    }
    &__circle-big {
    }
  }
}
