// Este estilo es de la seccion main, no son los estilos principales !!!!_____________
.main {
  padding: 5em 0 2em 0;
  background-color: var(--second-white);
  max-height: 900px;
  min-height: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__lamp,
  &__plant {
    display: none;
  }
  &__room {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    margin-bottom: 2em;
  }
  &__product-interaction {
    flex-grow: 3;
    width: 90vmin;
    max-width: 585px;
    max-height: 585px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__slider {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__slides {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__bullets {
    display: flex;
  }
  &__bullet {
    width: 15px;
    height: 15px;
    margin: 1em 0.8em;
    background-color: var(--font-gray);
    border-radius: 500px;
  }
  &__bullet--active {
    background-color: var(--main-salmon);
  }
  &__frame {
    width: 70vmin;
    max-width: 275px;
    height: 80%;
    background-color: var(--black-three);
    border-radius: 8px;
    padding: 1em;
    overflow: hidden;
  }
  &__paints {
    width: 100%;
    height: 197px;
    overflow: hidden;
    background-color: var(--black-three);
    background-size: cover;
    display: flex;
  }
  &__carousel {
    position: relative;
    width: 5000px;
    height: 100%;
    display: flex;
  }
  &__paint-cover {
    width: 200px;
    height: 100%;
    background-size: cover;
    &:nth-child(1) {
      background-image: url("https://historia-arte.com/_/eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpbSI6WyJcL2FydHdvcmtcL2ltYWdlRmlsZVwvZ3VzdGF2X2tsaW10XzAxMC5qcGciLCJyZXNpemUsMTUwMHxmb3JtYXQsd2VicCJdfQ.VtbvXh-PIrxqftQ727_YE1K9PQVmqXbXrFO2w49fVbY.webp");
    }
    &:nth-child(2) {
      background-image: url("https://historia-arte.com/_/eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpbSI6WyJcL2FydHdvcmtcL2ltYWdlRmlsZVwvNWNjZjFlOTNkOGE5Yy5qcGciLCJyZXNpemUsMTUwMHxmb3JtYXQsd2VicCJdfQ.ZW30CQ9Nc7bsN2zGwe-vh7K0AjP05MQ_Amb2XJ4TL1Y.webp");
    }
    &:nth-child(3) {
      background-image: url("https://historia-arte.com/_/eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpbSI6WyJcL2FydHdvcmtcL2ltYWdlRmlsZVwvNWZmZDU2MzA5Y2Y0Ni5qcGciLCJyZXNpemUsMTUwMHxmb3JtYXQsd2VicCJdfQ.4DHuvUOpXL5ATjBHkqxRS5kl1X4DUNn40wIZYLDm0e8.webp");
    }
    &:nth-child(4) {
      background-image: url("https://historia-arte.com/_/eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpbSI6WyJcL2FydHdvcmtcL2ltYWdlRmlsZVwvd2F0ZXJob3VzZV9oaXN0b3JpYV9hcnRlLmpwZyIsInJlc2l6ZSwxNTAwfGZvcm1hdCx3ZWJwIl19.WIJGplUjYTHfoGCRQS4rWyVe5XYo-El_DGNUFW10ShE.webp");
    }
  }
  &__arrow {
    // background-color: beige;
    cursor: pointer;
    width: 20 * 1.8px;
    height: 13 * 1.8px;
  }
  &__arrow-right {
    transform: rotate(180deg);
  }
  &__sofa {
    width: 100%;
  }
  &__info {
    width: 100%;
    max-width: 585px;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      font-family: var(--main-font);
      font-size: 24px;
      font-weight: 400;
      text-align: center;
    }
    p {
      margin-top: 1.5em;
      text-align: center;
      font-family: var(--second-font);
      color: var(--font-gray);
      font-size: 13px;
    }
  }
  &__curly {
    margin-top: 1em;
    transform: scale(0.5);
    position: absolute;
  }
  &__curly-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: showIt 2s infinite;
    width: 300px;
    height: 100px;
    overflow: hidden;
  }
}

@keyframes showIt {
  0% {
    width: 0;
  }
  50% {
    width: 200px;
  }
  100% {
    width: 0;
  }
}
@media (min-width: 1024px) {
  .main {
    padding: 5em 5em 2em 5em;
    flex-direction: row;
    justify-content: space-between;

    align-content: center;
    &__slides {
      width: 80%;
    }
    &__room {
      max-width: 680px;
      width: 400vmin;
      min-width: 495px;
      margin-right: 4em;
    }
    &__lamp,
    &__plant {
      display: block;
      align-self: flex-end;
      flex-grow: 0;
    }
    &__lamp {
      width: 40%;
    }
    &__plant {
      width: 20%;
      margin-left: 1em;
    }
    &__info {
      min-width: 310px;

      h1 {
        font-size: 38px;
        text-align: left;
      }
      p {
        text-align: left;
        font-size: 16px;
        min-width: 100%;
      }
    }
  }
}
