.product{
  display: flex;
  height: 212px;
  width: 100%;
  max-width: 350px;
  background-color: var(--second-white);
  overflow: hidden;
  border-radius: 5px;
  img{
    width: 50%;
    height: 100%;
    object-fit: cover;
  }
  &__info{
    width: 50%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h1{
      font-family: var(--second-font);
      color: var(--font-gray-two);
      font-size: 18pt;
      margin-bottom: 5px;
    }
  }
  &__stars{
    display: flex;
    width: 100px;
    & >*{
      margin-right: 5px;
    }
  }
  &__payment{
    h3{
      font-family: var(--second-font);
      font-weight: 500;
      color: var(--black-two);
      margin-bottom: 5px;
    }
    button{
      padding: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--black-one);
      width: 100%;
      color: var(--second-white);
      font-family: var(--second-font);
      text-transform: capitalize;
      border-radius: 4px;
      font-size: 13px;
      img{
        width: 18px;
        margin-right: 10px;
      }
    }
  }
}