.shop-header {
  background-color: var(--black-one);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__logo {
    width: 45px;
  }
  &__features {
    display: flex;
    justify-content: center;
    & > * {
      margin-left: .5em;
    }
    &--active {
      fill: var(--main-yellow);
    }
  }
  &__login-btn {
    font-family: var(--second-font);
    color: var(--font-gray);
    text-transform: capitalize;
    &--out{
      color: var(--main-salmon);
    }
  }
  &__user-name{
    text-transform: capitalize;
    align-self: center;
    color: var(--font-gray);
    font-size: 18px;
    font-weight: 400;
    font-family: var(--second-font);
  }
  &__orders-list{
    align-self: center;
    img{
      width: 18px;
    }
  }
  &__add-product{
    background-color:#3B3B3B ;
    width: 40px;
    height: 100%;
    padding: 5px;
    align-self: center;
    border-radius: 3px;
    img{
      width: 12px;
    }
  }
  &__bag {
    position: relative;
    img {
      width: 25px;
    }
  }
}
.shop-settings {
  font-family: var(--second-font);
  color: var(--font-gray);
  text-transform: capitalize;
  background-color: var(--black-two);
  padding: 20px;
  label {
    font-size: 14px;
  }
  &__sort {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    &-item {
      padding: 3px 8px;
      border: 1.8px solid var(--font-gray);
      border-radius: 4px;
      cursor: pointer;
      &:hover {
        color: white;
      }
      &--active {
        background-color: var(--main-yellow);
        border: 1.8px solid var(--main-yellow);
        color: var(--black-one);
        &:hover {
          color: black;
        }
      }
    }
  }
  &__option {
    display: flex;
    flex-direction: column;
    label {
      margin-bottom: 10px;
    }
  }
  &__filter {
    display: flex;
    flex-direction: column;
    & > * {
      margin-bottom: 10px;
    }
    select {
      font-family: var(--second-font);
      font-size: 15px;
      appearance: none;
      background-color: transparent;
      padding: 0.2em 0.3em;
      border: 1.8px solid var(--font-gray);
      border-radius: 3px;
      color: var(--main-yellow);
      background-image: url(../lib/svg/arrow-down.svg);
      background-repeat: no-repeat;
      background-position: right 10px top 50%;
      option {
        color: var(--black-two);
      }
    }
  }
}


.shop-products {
  max-width: 750px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  padding: 20px;
  flex-wrap: wrap;
  & > * {
    margin-bottom: 20px;
  }
}

@media (max-width: 710px) {
  .shop-products {
    max-width: 400px;
    justify-content: center;
  }
}

@media (min-width: 1024px) {
  .shop-header{
    &__features {
   
      & > * {
        margin-left: 2em;
      }
    
    }
  }
  .shop-products {
    max-width: 1500px;
    justify-content: space-between;
  }
  .shop-settings {
    &__sort {
      max-width: 340px;
    }
    &__option {
      width: 35%;
      &:nth-child(2) {
        margin-left: 20px;
        margin-right: 20px;
      }
    }
    &__filter {
      max-width: 1200px;
      flex-direction: row;
      select {
        width: 100%;
      }
    }
  }
}
