.transition{
  position: fixed;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
  &__elem{
      width: 100%;
      height: 100%;
      background-color: var(--main-yellow);
      position: absolute;
      &:nth-child(2){
          background-color: var(--main-salmon);
          
      }
      &:nth-child(3){
          background-color: var(--black-one);
      }
  }
}