:root {
  --main-yellow: #feb931;
  --black-one: #1a1a1a;
  --black-two: #282828;
  --black-three: #3c3b3b;
  --main-salmon: #ff705d;
  --main-white: #f8f8f8;
  --second-white: #f0ece9;
  --font-gray: #858585;
  --soft-gray: #d2cdc9;
}
