@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400;700&display=swap");
body {
  background-color: var(--main-white);
}

:root {
  --main-yellow: #feb931;
  --black-one: #1a1a1a;
  --black-two: #282828;
  --black-three: #3c3b3b;
  --main-salmon: #ff705d;
  --main-white: #f8f8f8;
  --second-white: #f0ece9;
  --font-gray: #858585;
  --soft-gray: #d2cdc9;
  --font-gray-two: #767272;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.cart-length {
  content: "9";
  font-family: var(--second-font);
  color: var(--main-white);
  text-align: center;
  position: absolute;
  top: -5px;
  left: -12px;
  padding: 0 5px;
  border-radius: 25px;
  height: 20px;
  background-color: var(--main-salmon);
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.hero__header {
  background-color: var(--main-yellow);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
}

.hero__header a img {
  width: 45px;
}

.hero__nav-bar {
  max-width: 700px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__nav-bar a {
  text-decoration: none;
  color: var(--black-one);
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 0.8em;
  position: relative;
}

.hero__nav-bar a:not(:first-child):hover::after {
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hero__nav-bar a:not(:first-child)::after {
  content: "";
  position: absolute;
  display: block;
  height: 0.4em;
  width: 0%;
  background-color: var(--main-white);
  bottom: -0.7em;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hero__info {
  max-width: 700px;
  margin-top: 2em;
  padding: 1.5em;
  padding-bottom: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero__title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 37px;
  margin-bottom: 0.6em;
  color: var(--black-one);
}

.hero__title strong:nth-child(2) {
  color: var(--main-salmon);
}

.hero p {
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 0.8em;
  margin-bottom: 2em;
  color: var(--font-gray);
}

.hero__form {
  height: 2.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.hero__form input {
  border-radius: 5px;
  width: 262px;
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
  -ms-flex-negative: 2;
      flex-shrink: 2;
  margin-right: 1em;
  outline: none;
  border: none;
  background-color: var(--second-white);
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 0.8em;
  color: #a5a5a5;
  padding: 0 1em;
}

.hero__form button {
  border-radius: 5px;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 0 0.3em;
  width: 70px;
  background-color: var(--main-yellow);
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 0.8em;
}

.hero__collage {
  background-color: var(--black-one);
  z-index: -2;
  overflow: hidden;
  position: relative;
  height: 140vmin;
  max-height: 812px;
  min-height: 380px;
}

.hero__collage img {
  position: absolute;
  z-index: 100;
  -webkit-transform: translate(-45%, 0%);
          transform: translate(-45%, 0%);
  left: 50%;
  bottom: 0;
  height: 80%;
  width: auto;
}

.hero__circle-big {
  position: absolute;
  -webkit-transform: translate(-50%, -62%);
          transform: translate(-50%, -62%);
  left: 50%;
  top: 50%;
  background-color: var(--main-salmon);
  overflow: hidden;
  width: 90vmin;
  height: 90vmin;
  max-width: 585px;
  max-height: 585px;
  border-radius: 500px;
  margin: 0 auto;
  z-index: 0;
}

.hero__circle-big h1 {
  position: absolute;
  font-family: var(--main-font);
  font-weight: 700;
  color: var(--main-white);
  font-size: 4em;
  -webkit-animation: moving-odd 5s infinite;
          animation: moving-odd 5s infinite;
}

.hero__circle-big h1:nth-child(even) {
  top: 80px;
  left: -80px;
  -webkit-animation: moving-even 5s infinite;
          animation: moving-even 5s infinite;
}

.hero__circle-small {
  -webkit-transform: translate(120%, 150%);
          transform: translate(120%, 150%);
  left: 50%;
  bottom: 24%;
  position: absolute;
  z-index: 10;
  width: 15vmin;
  height: 15vmin;
  max-width: 90px;
  max-height: 90px;
  border-radius: 500px;
  background-color: var(--main-white);
}

.hero__text-wrapper {
  position: relative;
  top: -45px;
  width: 900%;
}

.hero__curly {
  z-index: 100;
  -webkit-transform: rotate(30deg) translate(-80%, 80%);
          transform: rotate(30deg) translate(-80%, 80%);
  left: 50%;
  bottom: 0;
  position: absolute;
}

.hero__curly path {
  stroke: var(--main-yellow);
}

.hero__scroll {
  margin-top: 2em;
  height: 12vmin;
}

.hero__scroll circle {
  -webkit-animation: circle 2s infinite;
          animation: circle 2s infinite;
}

.hero__svg {
  width: 70%;
  height: 900%;
  position: absolute;
  top: -160px;
  right: -60px;
  pointer-events: none;
}

.hero__svg--hide {
  display: none;
}

@-webkit-keyframes moving-even {
  0% {
    left: -200px;
  }
  50% {
    left: 0;
  }
  100% {
    left: -200px;
  }
}

@keyframes moving-even {
  0% {
    left: -200px;
  }
  50% {
    left: 0;
  }
  100% {
    left: -200px;
  }
}

@-webkit-keyframes moving-odd {
  0% {
    left: 0;
  }
  50% {
    left: -200px;
  }
  100% {
    left: 0;
  }
}

@keyframes moving-odd {
  0% {
    left: 0;
  }
  50% {
    left: -200px;
  }
  100% {
    left: 0;
  }
}

@-webkit-keyframes circle {
  0% {
    cy: 20px;
  }
  50% {
    cy: 50px;
  }
  100% {
    cy: 20px;
  }
}

@keyframes circle {
  0% {
    cy: 20px;
  }
  50% {
    cy: 50px;
  }
  100% {
    cy: 20px;
  }
}

@media (min-width: 1024px) {
  .hero {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .hero__svg {
    width: 70%;
    height: 900%;
    position: absolute;
    top: -160px;
    right: -100px;
    pointer-events: none;
  }
  .hero__svg--hide {
    display: none;
  }
  .hero__collage {
    width: 50%;
    height: auto;
    min-height: none;
    max-height: none;
  }
  .hero__header {
    padding: 1.5em 5em;
  }
  .hero__circle-big {
    width: 42vw;
    height: 42vw;
  }
  .hero__info {
    margin-top: 0;
    padding: 5em;
    min-height: 736px;
  }
  .hero__info h1 {
    font-size: 60px;
  }
  .hero__info p {
    font-size: 16px;
  }
  .hero__main {
    width: 50%;
  }
  .hero__scroll {
    height: 80px;
  }
}

.main {
  padding: 5em 0 2em 0;
  background-color: var(--second-white);
  max-height: 900px;
  min-height: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__lamp, .main__plant {
  display: none;
}

.main__room {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  overflow: hidden;
  margin-bottom: 2em;
  padding: 0 2em;
}

.main__product-interaction {
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
  width: 90vmin;
  max-width: 585px;
  max-height: 585px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__slides {
  width: 100%;
  max-width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__bullets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__bullet {
  width: 15px;
  height: 15px;
  margin: 1em 0.8em;
  background-color: var(--font-gray);
  border-radius: 500px;
}

.main__bullet--active {
  background-color: var(--main-salmon);
}

.main__frame {
  width: 70vmin;
  max-width: 275px;
  height: 80%;
  background-color: var(--black-three);
  border-radius: 8px;
  padding: 1em;
  overflow: hidden;
}

.main__paints {
  width: 100%;
  height: 197px;
  overflow: hidden;
  background-color: var(--black-three);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__carousel {
  position: relative;
  width: 5000px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__paint-cover {
  width: 200px;
  height: 100%;
  background-size: cover;
}

.main__paint-cover:nth-child(1) {
  background-image: url("https://historia-arte.com/_/eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpbSI6WyJcL2FydHdvcmtcL2ltYWdlRmlsZVwvZ3VzdGF2X2tsaW10XzAxMC5qcGciLCJyZXNpemUsMTUwMHxmb3JtYXQsd2VicCJdfQ.VtbvXh-PIrxqftQ727_YE1K9PQVmqXbXrFO2w49fVbY.webp");
}

.main__paint-cover:nth-child(2) {
  background-image: url("https://historia-arte.com/_/eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpbSI6WyJcL2FydHdvcmtcL2ltYWdlRmlsZVwvNWNjZjFlOTNkOGE5Yy5qcGciLCJyZXNpemUsMTUwMHxmb3JtYXQsd2VicCJdfQ.ZW30CQ9Nc7bsN2zGwe-vh7K0AjP05MQ_Amb2XJ4TL1Y.webp");
}

.main__paint-cover:nth-child(3) {
  background-image: url("https://historia-arte.com/_/eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpbSI6WyJcL2FydHdvcmtcL2ltYWdlRmlsZVwvNWZmZDU2MzA5Y2Y0Ni5qcGciLCJyZXNpemUsMTUwMHxmb3JtYXQsd2VicCJdfQ.4DHuvUOpXL5ATjBHkqxRS5kl1X4DUNn40wIZYLDm0e8.webp");
}

.main__paint-cover:nth-child(4) {
  background-image: url("https://historia-arte.com/_/eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpbSI6WyJcL2FydHdvcmtcL2ltYWdlRmlsZVwvd2F0ZXJob3VzZV9oaXN0b3JpYV9hcnRlLmpwZyIsInJlc2l6ZSwxNTAwfGZvcm1hdCx3ZWJwIl19.WIJGplUjYTHfoGCRQS4rWyVe5XYo-El_DGNUFW10ShE.webp");
}

.main__arrow {
  cursor: pointer;
  width: 36px;
  height: 23.4px;
}

.main__arrow-right {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.main__sofa {
  width: 100%;
}

.main__info {
  width: 100%;
  max-width: 585px;
  padding: 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__info h1 {
  font-family: var(--main-font);
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

.main__info p {
  margin-top: 1.5em;
  text-align: center;
  font-family: var(--second-font);
  color: var(--font-gray);
  font-size: 13px;
}

.main__curly {
  margin-top: 1em;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  position: absolute;
}

.main__curly-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: showIt 2s infinite;
          animation: showIt 2s infinite;
  width: 300px;
  height: 100px;
  overflow: hidden;
}

@-webkit-keyframes showIt {
  0% {
    width: 0;
  }
  50% {
    width: 200px;
  }
  100% {
    width: 0;
  }
}

@keyframes showIt {
  0% {
    width: 0;
  }
  50% {
    width: 200px;
  }
  100% {
    width: 0;
  }
}

@media (min-width: 1024px) {
  .main {
    padding: 5em 5em 2em 5em;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .main__product-interaction {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .main__sofa {
    margin-top: 0.5em;
  }
  .main__slides {
    width: 80%;
  }
  .main__room {
    max-width: 680px;
    width: 400vmin;
    min-width: 530px;
    margin-right: 4em;
  }
  .main__lamp, .main__plant {
    display: block;
    -ms-flex-item-align: end;
        align-self: flex-end;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 90px;
  }
  .main__info {
    min-width: 310px;
    padding: 0;
  }
  .main__info h1 {
    font-size: 38px;
    text-align: left;
  }
  .main__info p {
    text-align: left;
    font-size: 16px;
    min-width: 100%;
  }
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.features__feature {
  width: 100%;
  height: 250px;
  color: var(--main-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3em;
}

.features__feature img {
  max-height: 222px;
  height: 100%;
  max-width: 130px;
}

.features__feature p {
  margin-top: 2em;
  font-family: var(--second-font);
  text-align: center;
  max-width: 250px;
  font-size: 14px;
}

.features__feature:nth-child(1) {
  background-color: var(--black-one);
}

.features__feature:nth-child(1) img {
  max-height: 120px;
}

.features__feature:nth-child(2) {
  background-color: var(--black-two);
}

.features__feature:nth-child(3) {
  background-color: var(--black-three);
}

.features__feature:nth-child(3) img {
  max-height: 133.2px;
}

@media (min-width: 760px) {
  .features {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .features__feature img {
    width: 20vmin;
  }
}

@-webkit-keyframes coin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes coin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.promo {
  width: 100%;
  height: 150px;
  background-color: var(--main-salmon);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.promo__img {
  width: 50%;
  height: 100%;
  background-image: url("../lib/img/frame.png");
  background-size: cover;
  background-position: -65px;
}

.promo__info {
  padding: 1.5em 1em;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  font-family: var(--second-font);
}

.promo__info h2 {
  max-width: 200px;
  color: var(--main-white);
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 1em;
}

.promo__info button {
  background-color: var(--main-white);
  padding: 0.5em;
  max-width: 100px;
  border-radius: 3px;
  font-size: 12px;
  color: var(--font-gray);
}

@media (min-width: 1024px) {
  .promo__info {
    padding: 1.5em 2em;
  }
  .promo__info h2 {
    font-size: 20px;
    max-width: 300px;
  }
}

.gallery {
  position: relative;
  padding: 3em 1.5em 6em 1.5em;
  width: 100%;
  background-color: var(--black-one);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery__info {
  width: 100%;
  max-width: 450px;
  color: var(--main-white);
  text-align: center;
  padding: 0 1em;
  margin-bottom: 4em;
}

.gallery__info h1 {
  font-family: var(--main-font);
  font-size: 33px;
  margin: 0.5em;
}

.gallery__info p {
  font-family: var(--second-font);
  font-size: 14px;
}

.gallery__frames {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery__set {
  max-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 45%;
}

.gallery__paint {
  max-width: 266px;
  max-height: 200px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 30vmin;
  width: 100%;
  background-color: var(--black-two);
  background-size: cover;
  margin-bottom: 1.5em;
}

.gallery__curly {
  position: absolute;
  bottom: 20px;
  left: -140px;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.gallery__curly path {
  stroke: var(--main-yellow);
}

@media (min-width: 600px) {
  .gallery__frames {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .gallery__set {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .gallery__paint {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  .gallery__paint:nth-child(2) {
    margin: 0 5vmin;
  }
}

.table-content {
  padding: 3em 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.table-content p,
.table-content strong,
.table-content button {
  font-family: var(--second-font);
}

.table-content__main {
  margin-bottom: 2em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.table-content__main h1 {
  z-index: 10;
  font-family: var(--main-font);
  font-size: 25px;
  margin-bottom: 2em;
  position: relative;
}

.table-content__main h1::after {
  z-index: -10;
  position: absolute;
  right: -5px;
  top: 0;
  content: "";
  width: 105px;
  height: 35px;
  background-color: var(--main-yellow);
}

.table-content__paints {
  min-width: 240px;
  min-height: 308px;
  max-width: 375.6px;
  max-height: 483px;
  width: 40vmin;
  height: 50vmin;
  background-color: rebeccapurple;
  overflow: hidden;
  position: relative;
}

.table-content__paint {
  position: absolute;
  background-image: url("https://historia-arte.com/_/eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpbSI6WyJcL2FydHdvcmtcL2ltYWdlRmlsZVwvZWQyYjZkNmUzNDZhNjE0OGVmMTJmMGNjNzljOWIzOWQuanBnIiwicmVzaXplLDE1MDB8Zm9ybWF0LHdlYnAiXX0.MTyzxwf6Vyc4sOV966i8LupVeKze7WSJASy/VrdcqQOg.webp");
  background-size: cover;
  width: 100%;
  height: 100%;
  right: 0;
  bottom: 0;
}

.table-content__paint:nth-child(2) {
  width: 60%;
  height: 60%;
}

.table-content__paint:nth-child(3) {
  width: 30%;
  height: 30%;
}

.table-content__paint:nth-child(2), .table-content__paint:nth-child(3) {
  -webkit-box-shadow: -10px 2px 15px 7px rgba(0, 0, 0, 0.7);
          box-shadow: -10px 2px 15px 7px rgba(0, 0, 0, 0.7);
}

.table-content__paint:hover {
  -webkit-filter: contrast(200%);
          filter: contrast(200%);
}

.table-content__table {
  width: 100%;
  position: relative;
  z-index: 10;
}

.table-content__table::before {
  content: "";
  position: absolute;
  z-index: -10;
  width: 400%;
  height: 5.4em;
  left: -200px;
  background-color: var(--second-white);
}

.table-content__header {
  padding: 1em 0;
  margin-bottom: 1.5em;
}

.table-content__header h1 {
  font-family: var(--main-font);
  font-size: 20px;
  margin-bottom: 0.3em;
  color: var(--black-three);
}

.table-content__users-rate {
  max-width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.table-content__users-rate p {
  font-family: var(--second-font);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  color: var(--font-gray);
}

.table-content__users-rate p strong {
  margin-right: 0.5em;
}

.table-content__stars {
  margin-right: 0.5em;
}

.table-content__stars img {
  width: 20px;
  height: 100%;
}

.table-content__users-rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.table-content__size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 0.5em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.3em;
  border-bottom: 1px solid #c2c2c2;
}

.table-content__size p {
  color: var(--font-gray);
}

.table-content__price {
  color: #d2cdc9;
  font-weight: 500;
  font-size: 20px;
}

.table-content button {
  background-color: var(--main-salmon);
  color: var(--main-white);
  padding: 0.5em 1em;
  border-radius: 6px;
}

@media (min-width: 1024px) {
  .table-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .table-content__table {
    margin-top: 10em;
    width: 100%;
    position: relative;
    z-index: 10;
  }
  .table-content__table::before {
    content: "";
    position: absolute;
    z-index: -10;
    width: 200%;
    height: 5.4em;
    left: -20px;
    background-color: var(--second-white);
  }
}

.footer {
  padding: 3em 1.5em;
  background-color: var(--black-one);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: var(--second-font);
}

.footer a {
  text-decoration: none;
}

.footer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__main > * {
  margin-bottom: 1em;
}

.footer__main h2 {
  text-align: center;
  font-size: 18px;
  color: var(--font-gray);
}

.footer__logo {
  fill: var(--main-yellow);
}

.footer__media {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__path {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__path a {
  color: var(--font-gray);
}

.footer__path > * {
  margin-bottom: 0.5em;
}

.footer__path h1 {
  color: var(--main-white);
  font-size: 18px;
}

@media (min-width: 1024px) {
  .footer {
    padding: 5em;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

:root {
  --main-font: "Playfair Display", serif;
  --second-font: "Josefin Sans", sans-serif;
}

.shop-header {
  background-color: var(--black-one);
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shop-header__logo {
  width: 45px;
}

.shop-header__features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.shop-header__features > * {
  margin-left: .5em;
}

.shop-header__features--active {
  fill: var(--main-yellow);
}

.shop-header__login-btn {
  font-family: var(--second-font);
  color: var(--font-gray);
  text-transform: capitalize;
}

.shop-header__login-btn--out {
  color: var(--main-salmon);
}

.shop-header__user-name {
  text-transform: capitalize;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: var(--font-gray);
  font-size: 18px;
  font-weight: 400;
  font-family: var(--second-font);
}

.shop-header__orders-list {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.shop-header__orders-list img {
  width: 18px;
}

.shop-header__add-product {
  background-color: #3B3B3B;
  width: 40px;
  height: 100%;
  padding: 5px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 3px;
}

.shop-header__add-product img {
  width: 12px;
}

.shop-header__bag {
  position: relative;
}

.shop-header__bag img {
  width: 25px;
}

.shop-settings {
  font-family: var(--second-font);
  color: var(--font-gray);
  text-transform: capitalize;
  background-color: var(--black-two);
  padding: 20px;
}

.shop-settings label {
  font-size: 14px;
}

.shop-settings__sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.shop-settings__sort-item {
  padding: 3px 8px;
  border: 1.8px solid var(--font-gray);
  border-radius: 4px;
  cursor: pointer;
}

.shop-settings__sort-item:hover {
  color: white;
}

.shop-settings__sort-item--active {
  background-color: var(--main-yellow);
  border: 1.8px solid var(--main-yellow);
  color: var(--black-one);
}

.shop-settings__sort-item--active:hover {
  color: black;
}

.shop-settings__option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.shop-settings__option label {
  margin-bottom: 10px;
}

.shop-settings__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.shop-settings__filter > * {
  margin-bottom: 10px;
}

.shop-settings__filter select {
  font-family: var(--second-font);
  font-size: 15px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  padding: 0.2em 0.3em;
  border: 1.8px solid var(--font-gray);
  border-radius: 3px;
  color: var(--main-yellow);
  background-image: url(../lib/svg/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: right 10px top 50%;
}

.shop-settings__filter select option {
  color: var(--black-two);
}

.shop-products {
  max-width: 750px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.shop-products > * {
  margin-bottom: 20px;
}

@media (max-width: 710px) {
  .shop-products {
    max-width: 400px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 1024px) {
  .shop-header__features > * {
    margin-left: 2em;
  }
  .shop-products {
    max-width: 1500px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .shop-settings__sort {
    max-width: 340px;
  }
  .shop-settings__option {
    width: 35%;
  }
  .shop-settings__option:nth-child(2) {
    margin-left: 20px;
    margin-right: 20px;
  }
  .shop-settings__filter {
    max-width: 1200px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .shop-settings__filter select {
    width: 100%;
  }
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 320px;
  min-height: 210px;
  max-height: 210px;
  background-color: var(--second-white);
  overflow: hidden;
  border-radius: 5px;
}

.product a {
  width: 50%;
  height: 100%;
}

.product img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.product__info {
  width: 50%;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product__info h1 {
  font-family: var(--second-font);
  color: var(--font-gray-two);
  font-size: 18pt;
  margin-bottom: 5px;
}

.product__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80px;
}

.product__stars img {
  margin-right: 3px;
  width: 15px;
  height: 100%;
}

.product__payment h3 {
  font-family: var(--second-font);
  font-weight: 500;
  color: var(--black-two);
  margin-bottom: 5px;
}

.product__payment button {
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--black-one);
  width: 100%;
  color: var(--second-white);
  font-family: var(--second-font);
  text-transform: capitalize;
  border-radius: 4px;
  font-size: 13px;
}

.product__payment button img {
  width: 18px;
  margin-right: 10px;
}

.edit-product {
  width: 100%;
  position: fixed;
  background-color: var(--black-one);
  padding: 20px;
  font-family: var(--second-font);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.edit-product__log-out {
  text-transform: capitalize;
  color: var(--font-gray);
  font-size: 12pt;
  font-weight: 400;
  margin-right: 10px;
}

.edit-product__log-out:hover {
  color: white;
}

.edit-product__delete {
  background-color: var(--main-salmon);
  color: var(--main-white);
  text-transform: capitalize;
  font-size: 10pt;
  padding: 5px;
  border-radius: 3px;
  text-align: center;
}

.form-wrapper {
  background-color: var(--black-two);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.edit-form {
  font-family: var(--second-font);
  width: 100%;
  color: var(--font-gray);
  padding: 20px;
  min-height: 100vh;
  margin-top: 60px;
}

.edit-form__label {
  font-size: 10pt;
  text-transform: capitalize;
}

.edit-form__input {
  font-family: var(--second-font);
  font-weight: 400;
  font-size: 10pt;
  padding-left: 10px;
  border: none;
  background-color: var(--black-three);
  border-radius: 3px;
  height: 28px;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
  outline: none;
  color: var(--second-white);
}

.edit-form__input[type="number"] {
  -moz-appearance: textfield;
}

.edit-form__input[type="number"]::-webkit-outer-spin-button, .edit-form__input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.edit-form__input-pair {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.edit-form__label {
  display: block;
}

.edit-form__description {
  width: 100%;
  height: 100px;
  resize: none;
  padding-top: 10px;
  line-height: 20px;
}

.edit-form__set-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px 0;
}

.edit-form__set-img-btn {
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 3px;
}

.edit-form__clear {
  background-color: var(--main-salmon);
  color: var(--main-white);
}

.edit-form__add-img {
  position: relative;
  background-color: var(--black-three);
  margin-right: 10px;
}

.edit-form__add-img img {
  width: 25px;
}

.edit-form__add-img input {
  cursor: pointer;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.edit-form__file-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.edit-form__preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.edit-form__img-prev {
  position: relative;
  width: 90px;
  height: 140px;
  margin-right: 20px;
  background-image: url("../lib/img/noImage.png");
  background-size: cover;
  border-radius: 3px;
  overflow: hidden;
}

.edit-form__img-prev button {
  z-index: 10000;
  position: absolute;
  top: 5px;
  right: 5px;
}

.edit-form__img-prev::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.edit-form__submit {
  background-color: var(--main-yellow);
  color: var(--black-one);
  max-width: 500px;
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  font-weight: 400;
}

.edit-form__button-wrapper-center {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

@media (min-width: 1024px) {
  .form-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .edit-form {
    max-width: 800px;
  }
  .edit-form__input-pair {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .edit-form__input-item {
    width: 49%;
  }
  .edit-form__label {
    width: 100%;
  }
}

.modal-bg {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  -webkit-transition: visibility 0s, opacity 0.5s;
  transition: visibility 0s, opacity 0.5s;
  z-index: 10000;
}

.modal-active {
  visibility: visible;
  opacity: 1;
}

.modal {
  background-color: #F8F8F8;
  border-radius: 5px;
  padding: 40px 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 325px;
  font-family: var(--second-font);
  color: #979797;
}

.modal__close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
}

.modal__close-btn img {
  width: 15px;
}

.modal__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 15px;
  height: 50px;
}

.modal__data label {
  margin-bottom: 5px;
}

.modal__input {
  border: none;
  background-color: var(--second-white);
  color: var(--black-three);
  font-family: var(--second-font);
  padding-left: 10px;
  font-size: 15px;
  border-radius: 3px;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  outline: none;
}

.modal__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 30px;
}

.modal__btn {
  color: var(--main-salmon);
}

.modal__btn--active {
  background-color: var(--main-salmon);
  padding: 8px;
  color: white;
  border-radius: 5px;
  margin-bottom: 25px;
}

.hidden {
  display: none;
}

.product-detail-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product-main {
  font-family: var(--second-font);
  background-color: var(--black-one);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product-main__header {
  background-color: var(--black-one);
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-main__header a {
  text-decoration: none;
  color: var(--font-gray);
}

.product-main__prime {
  background-color: var(--black-one);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-main__title {
  color: var(--main-white);
}

.product-main__title strong {
  font-weight: 600;
  font-size: 20px;
}

.product-main__title h3 {
  margin-top: 6px;
  font-size: 15px;
  font-weight: 400;
}

.product-main__img-big {
  margin-top: 15px;
  width: 100%;
  height: 65vmin;
  -o-object-fit: cover;
     object-fit: cover;
}

.product-main__img-set {
  height: 50px;
  width: 100%;
  max-width: 500px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 40px;
}

.product-main__img-small {
  cursor: pointer;
  border-radius: 5px;
  width: 65px;
  height: 100%;
  background-image: url("../lib/img/pain-img/a3.png");
  background-size: cover;
  position: relative;
}

.product-main__img-small--active::before {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background-color: white;
  position: absolute;
  bottom: -10px;
  left: 0;
}

.detail {
  font-family: var(--second-font);
  padding: 20px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.detail__info {
  max-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.detail__price {
  font-weight: 400;
  color: var(--font-gray);
  font-size: 15px;
  margin-bottom: 5px;
}

.detail__name {
  font-size: 23px;
  margin-bottom: 10px;
}

.detail__description {
  color: var(--font-gray);
  font-size: 13px;
  margin-bottom: 5px;
}

.detail__size {
  color: var(--font-gray);
  margin-bottom: 5px;
}

.detail__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80px;
  margin-bottom: 25px;
}

.detail__stars img {
  margin-right: 3px;
  width: 15px;
  height: 100%;
}

.detail__purchase {
  background-color: var(--black-one);
  color: var(--main-white);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.detail__purchase img {
  width: 20px;
  margin-right: 10px;
}

@media (min-width: 1024px) {
  .product-detail-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .product-main {
    height: 100vh;
    width: 65%;
    padding: 0 60px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 20vmin;
  }
  .product-main__prime {
    margin-top: 30px;
  }
  .product-main__img-big {
    height: 50vmin;
  }
  .product-main__img-small {
    width: 110px;
  }
  .product-main__img-set {
    height: 80px;
    margin-bottom: 0;
  }
  .detail {
    width: 35%;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-bottom: 20vmin;
  }
  .detail__info {
    padding: 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    padding: 0 2em;
  }
  .detail__price {
    font-size: 20px;
    margin-bottom: 5px;
  }
  .detail__name {
    font-size: 28px;
    margin-bottom: 10px;
  }
  .detail__description {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .detail__size {
    color: var(--font-gray);
    margin-bottom: 5px;
  }
  .detail__stars {
    width: 100px;
    margin-bottom: 25px;
  }
  .detail__stars img {
    margin-right: 3px;
    width: 20px;
    height: 100%;
  }
}

.cart {
  background-color: var(--black-one);
  font-family: var(--second-font);
  padding: 20px;
  min-height: 100vh;
  position: relative;
}

.cart__shop {
  color: var(--font-gray);
}

.cart__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cart__header-main-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart__header-main-info h1 {
  font-family: var(--main-font);
  color: var(--main-white);
  font-size: 18px;
  margin-bottom: 15px;
}

.cart__number-container {
  background-color: var(--black-two);
  padding: 5px 20px;
  border-radius: 3px;
  color: var(--font-gray);
  font-size: 14px;
  text-transform: capitalize;
}

.cart__not-products {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  font-family: var(--second-font);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart__not-products h1 {
  color: var(--main-white);
  font-size: 18px;
  margin-bottom: 10px;
}

.cart__not-products button {
  color: var(--black-one);
  background-color: var(--font-gray);
  padding: 5px 15px;
  border-radius: 3px;
}

.cart__products-container {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 50vh;
  overflow-y: scroll;
}

.cart__product {
  max-width: 600px;
  width: 100%;
  margin-top: 20px;
  border-bottom: 1px solid #5c5c5c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 10px;
}

.cart__product:nth-child(1) {
  margin-top: 0;
}

.cart__product-name-price h1 {
  font-size: 20px;
  font-weight: 400;
  color: var(--main-white);
  margin-bottom: 5px;
}

.cart__product-name-price h3 {
  font-size: 15px;
  color: var(--font-gray);
}

.cart__product-main-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart__product-main-info img {
  margin-right: 20px;
  width: 70px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.payment {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: var(--main-white);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.payment__info {
  font-family: var(--second-font);
  padding: 20px 20px 50px 20px;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.payment__summary {
  padding-bottom: 10px;
  width: 100%;
  border-bottom: 1px solid #c4c4c4;
  margin-bottom: 10px;
}

.payment__subtotal {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 15px;
  color: var(--black-three);
}

.payment__subtotal h3 {
  font-weight: 400;
}

.payment__handling {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 12px;
  color: var(--font-gray);
}

.payment__handling h3 {
  font-weight: 400;
}

.payment__total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  color: var(--black-three);
  margin-bottom: 20px;
}

.payment__total h1 {
  font-weight: 400;
}

.payment__checkout-btn {
  background-color: var(--main-yellow);
  width: 100%;
  max-width: 300px;
  padding: 8px;
  border-radius: 5px;
  font-size: 15px;
}

@media (min-width: 1024px) {
  .cart-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .cart {
    width: 70%;
  }
  .cart__products-container {
    max-height: 80vh;
  }
  .payment {
    width: 30%;
    position: relative;
    -ms-flex-item-align: end;
        align-self: flex-end;
    padding-bottom: 5em;
  }
  .payment__info {
    width: 80%;
    max-width: 500px;
  }
}

.hidden {
  display: none;
}
/*# sourceMappingURL=main.css.map */