@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400;700&display=swap");
body {
  background-color: var(--main-white);
}

:root {
  --main-font: "Playfair Display", serif;
  --second-font: "Josefin Sans", sans-serif;
}

:root {
  --main-yellow: #feb931;
  --black-one: #1a1a1a;
  --black-two: #282828;
  --black-three: #3c3b3b;
  --main-salmon: #ff705d;
  --main-white: #f8f8f8;
  --second-white: #f0ece9;
  --font-gray: #858585;
  --soft-gray: #d2cdc9;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.hero__header {
  background-color: var(--main-yellow);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5em;
}

.hero__header a {
  margin-right: 3em;
}

.hero__header a img {
  width: 45px;
  height: 100%;
}

.hero__nav-bar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__nav-bar a {
  text-decoration: none;
  color: var(--black-one);
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 0.8em;
}

.hero__info {
  margin-top: 4em;
  padding: 1.5em;
  padding-bottom: 4em;
}

.hero__title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 0.6em;
}

.hero__title strong:nth-child(2) {
  color: var(--main-salmon);
}

.hero p {
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 1em;
  margin-bottom: 2em;
}

.hero__form {
  height: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__form input {
  border-radius: 5px;
  width: 262px;
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
  margin-right: 1em;
  outline: none;
  border: none;
  background-color: var(--second-white);
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 1.2em;
  color: #a5a5a5;
  padding: 0 1em;
}

.hero__form button {
  border-radius: 5px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 0 0.3em;
  width: 70px;
  background-color: var(--main-yellow);
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 1em;
}

.hero__collage {
  background-color: var(--black-one);
  z-index: -2;
  position: relative;
  height: 60vh;
}

.hero__collage img {
  position: absolute;
  z-index: 100;
  -webkit-transform: translate(-45%, 0%);
          transform: translate(-45%, 0%);
  left: 50%;
  bottom: 0;
  width: 420px;
  height: 664.5px;
}

.hero__circle-big {
  position: absolute;
  -webkit-transform: translate(-50%, -70%);
          transform: translate(-50%, -70%);
  left: 50%;
  top: 50%;
  background-color: var(--main-salmon);
  overflow: hidden;
  width: 485px;
  height: 485px;
  border-radius: 500px;
  margin: 0 auto;
  z-index: 0;
}

.hero__circle-big h1 {
  position: absolute;
  font-family: var(--main-font);
  font-weight: 700;
  color: var(--main-white);
  font-size: 5em;
}

.hero__circle-big h1:nth-child(even) {
  top: 80px;
  left: -80px;
  color: red;
}

.hero__text-wrapper {
  position: relative;
  width: 900%;
}
/*# sourceMappingURL=main.css.map */