@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400;700&display=swap");
body {
  background-color: var(--main-white);
}

:root {
  --main-yellow: #feb931;
  --black-one: #1a1a1a;
  --black-two: #282828;
  --black-three: #3c3b3b;
  --main-salmon: #ff705d;
  --main-white: #f8f8f8;
  --second-white: #f0ece9;
  --font-gray: #858585;
  --soft-gray: #d2cdc9;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.hero__header {
  background-color: var(--main-yellow);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5em;
}

.hero__header a img {
  width: 45px;
  height: 100%;
}

.hero__nav-bar {
  max-width: 700px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__nav-bar a {
  text-decoration: none;
  color: var(--black-one);
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 0.8em;
}

.hero__nav-bar a:hover {
  color: var(--main-white);
}

.hero__info {
  max-width: 700px;
  margin-top: 2em;
  padding: 1.5em;
  padding-bottom: 4em;
}

.hero__title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 37px;
  margin-bottom: 0.6em;
  color: var(--black-one);
}

.hero__title strong:nth-child(2) {
  color: var(--main-salmon);
}

.hero p {
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 0.8em;
  margin-bottom: 2em;
  color: var(--black-three);
}

.hero__form {
  height: 2.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__form input {
  border-radius: 5px;
  width: 262px;
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
  -ms-flex-negative: 2;
      flex-shrink: 2;
  margin-right: 1em;
  outline: none;
  border: none;
  background-color: var(--second-white);
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 0.8em;
  color: #a5a5a5;
  padding: 0 1em;
}

.hero__form button {
  border-radius: 5px;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 0 0.3em;
  width: 70px;
  background-color: var(--main-yellow);
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 0.8em;
}

.hero__collage {
  background-color: var(--black-one);
  z-index: -2;
  overflow: hidden;
  position: relative;
  height: 140vmin;
  max-height: 812px;
  min-height: 380px;
}

.hero__collage img {
  position: absolute;
  z-index: 100;
  -webkit-transform: translate(-45%, 0%);
          transform: translate(-45%, 0%);
  left: 50%;
  bottom: 0;
  height: 80%;
  width: auto;
}

.hero__circle-big {
  position: absolute;
  -webkit-transform: translate(-50%, -62%);
          transform: translate(-50%, -62%);
  left: 50%;
  top: 50%;
  background-color: var(--main-salmon);
  overflow: hidden;
  width: 90vmin;
  height: 90vmin;
  max-width: 585px;
  max-height: 585px;
  border-radius: 500px;
  margin: 0 auto;
  z-index: 0;
}

.hero__circle-big h1 {
  position: absolute;
  font-family: var(--main-font);
  font-weight: 700;
  color: var(--main-white);
  font-size: 4em;
  -webkit-animation: moving-odd 5s infinite;
          animation: moving-odd 5s infinite;
}

.hero__circle-big h1:nth-child(even) {
  top: 80px;
  left: -80px;
  -webkit-animation: moving-even 5s infinite;
          animation: moving-even 5s infinite;
}

.hero__circle-small {
  -webkit-transform: translate(120%, 150%);
          transform: translate(120%, 150%);
  left: 50%;
  bottom: 24%;
  position: absolute;
  z-index: 10;
  width: 15vmin;
  height: 15vmin;
  max-width: 90px;
  max-height: 90px;
  border-radius: 500px;
  background-color: var(--main-white);
}

.hero__text-wrapper {
  position: relative;
  top: -45px;
  width: 900%;
}

.hero__curly {
  z-index: 100;
  -webkit-transform: rotate(30deg) translate(-80%, 80%);
          transform: rotate(30deg) translate(-80%, 80%);
  left: 50%;
  bottom: 0;
  position: absolute;
}

.hero__curly path {
  stroke: var(--main-yellow);
}

.hero__scroll {
  margin-top: 2em;
}

.hero__scroll circle {
  -webkit-animation: circle 2s infinite;
          animation: circle 2s infinite;
}

@-webkit-keyframes moving-even {
  0% {
    left: -200px;
  }
  50% {
    left: 0;
  }
  100% {
    left: -200px;
  }
}

@keyframes moving-even {
  0% {
    left: -200px;
  }
  50% {
    left: 0;
  }
  100% {
    left: -200px;
  }
}

@-webkit-keyframes moving-odd {
  0% {
    left: 0;
  }
  50% {
    left: -200px;
  }
  100% {
    left: 0;
  }
}

@keyframes moving-odd {
  0% {
    left: 0;
  }
  50% {
    left: -200px;
  }
  100% {
    left: 0;
  }
}

@-webkit-keyframes circle {
  0% {
    cy: 20px;
  }
  50% {
    cy: 50px;
  }
  100% {
    cy: 20px;
  }
}

@keyframes circle {
  0% {
    cy: 20px;
  }
  50% {
    cy: 50px;
  }
  100% {
    cy: 20px;
  }
}

.main {
  padding: 5em 0 2em 0;
  background-color: var(--second-white);
  max-height: 900px;
  min-height: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__lamp, .main__plant {
  display: none;
}

.main__room {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  overflow: hidden;
  margin-bottom: 2em;
}

.main__product-interaction {
  width: 90vmin;
  max-width: 585px;
  max-height: 585px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__slides {
  width: 100%;
  max-width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__bullets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__bullet {
  width: 15px;
  height: 15px;
  margin: 1em 0.8em;
  background-color: var(--font-gray);
  border-radius: 500px;
}

.main__bullet--active {
  background-color: var(--main-salmon);
}

.main__frame {
  width: 70vmin;
  max-width: 275px;
  height: 80%;
  background-color: var(--black-three);
  border-radius: 8px;
  padding: 1em;
  overflow: hidden;
}

.main__paints {
  width: 100%;
  height: 197px;
  overflow: hidden;
  background-color: var(--black-three);
  background-size: cover;
}

.main__carousel {
  position: relative;
  width: 5000px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__paint-cover {
  width: 200px;
  height: 100%;
  background-size: cover;
}

.main__paint-cover:nth-child(1) {
  background-image: url("https://historia-arte.com/_/eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpbSI6WyJcL2FydHdvcmtcL2ltYWdlRmlsZVwvZ3VzdGF2X2tsaW10XzAxMC5qcGciLCJyZXNpemUsMTUwMHxmb3JtYXQsd2VicCJdfQ.VtbvXh-PIrxqftQ727_YE1K9PQVmqXbXrFO2w49fVbY.webp");
}

.main__paint-cover:nth-child(2) {
  background-image: url("https://historia-arte.com/_/eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpbSI6WyJcL2FydHdvcmtcL2ltYWdlRmlsZVwvNWNjZjFlOTNkOGE5Yy5qcGciLCJyZXNpemUsMTUwMHxmb3JtYXQsd2VicCJdfQ.ZW30CQ9Nc7bsN2zGwe-vh7K0AjP05MQ_Amb2XJ4TL1Y.webp");
}

.main__paint-cover:nth-child(3) {
  background-image: url("https://historia-arte.com/_/eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpbSI6WyJcL2FydHdvcmtcL2ltYWdlRmlsZVwvNWZmZDU2MzA5Y2Y0Ni5qcGciLCJyZXNpemUsMTUwMHxmb3JtYXQsd2VicCJdfQ.4DHuvUOpXL5ATjBHkqxRS5kl1X4DUNn40wIZYLDm0e8.webp");
}

.main__paint-cover:nth-child(4) {
  background-image: url("https://historia-arte.com/_/eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpbSI6WyJcL2FydHdvcmtcL2ltYWdlRmlsZVwvd2F0ZXJob3VzZV9oaXN0b3JpYV9hcnRlLmpwZyIsInJlc2l6ZSwxNTAwfGZvcm1hdCx3ZWJwIl19.WIJGplUjYTHfoGCRQS4rWyVe5XYo-El_DGNUFW10ShE.webp");
}

.main__arrow {
  cursor: pointer;
  width: 36px;
  height: 23.4px;
}

.main__arrow-right {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.main__sofa {
  width: 100%;
}

.main__info {
  width: 100%;
  max-width: 585px;
  padding: 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__info h1 {
  font-family: var(--main-font);
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

.main__info p {
  margin-top: 1.5em;
  text-align: center;
  font-family: var(--second-font);
  color: var(--font-gray);
  font-size: 13px;
}

.main__curly {
  margin-top: 1em;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  position: absolute;
}

.main__curly-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: showIt 2s infinite;
          animation: showIt 2s infinite;
  width: 300px;
  height: 100px;
  overflow: hidden;
}

@-webkit-keyframes showIt {
  0% {
    width: 0;
  }
  50% {
    width: 300px;
  }
  100% {
    width: 0;
  }
}

@keyframes showIt {
  0% {
    width: 0;
  }
  50% {
    width: 300px;
  }
  100% {
    width: 0;
  }
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.features__feature {
  width: 100%;
  height: 250px;
  color: var(--main-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3em;
}

.features__feature img {
  max-height: 222px;
  height: 100%;
  max-width: 130px;
}

.features__feature p {
  margin-top: 2em;
  font-family: var(--second-font);
  text-align: center;
  max-width: 250px;
  font-size: 14px;
}

.features__feature:nth-child(1) {
  background-color: var(--black-one);
}

.features__feature:nth-child(1) img {
  max-height: 120px;
}

.features__feature:nth-child(2) {
  background-color: var(--black-two);
}

.features__feature:nth-child(3) {
  background-color: var(--black-three);
}

.features__feature:nth-child(3) img {
  max-height: 133.2px;
  -webkit-animation: coin 9s infinite ease-in-out;
          animation: coin 9s infinite ease-in-out;
}

@media (min-width: 760px) {
  .features {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .features__feature img {
    width: 20vmin;
  }
}

@-webkit-keyframes coin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes coin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.promo {
  width: 100%;
  height: 150px;
  background-color: var(--main-salmon);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.promo__img {
  width: 50%;
  height: 100%;
  background-image: url("../lib/img/frame.png");
  background-size: cover;
  background-position: -65px;
}

.promo__info {
  padding: 1.5em 1em;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  font-family: var(--second-font);
}

.promo__info h2 {
  max-width: 200px;
  color: var(--main-white);
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 1em;
}

.promo__info button {
  background-color: var(--main-white);
  padding: 0.5em;
  max-width: 100px;
  border-radius: 3px;
  font-size: 12px;
  color: var(--font-gray);
}

.gallery {
  position: relative;
  padding: 3em 1.5em 6em 1.5em;
  width: 100%;
  background-color: var(--black-one);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery__info {
  width: 100%;
  max-width: 450px;
  color: var(--main-white);
  text-align: center;
  padding: 0 1em;
  margin-bottom: 4em;
}

.gallery__info h1 {
  font-family: var(--main-font);
  font-size: 33px;
  margin: 0.5em;
}

.gallery__info p {
  font-family: var(--second-font);
  font-size: 14px;
}

.gallery__frames {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery__set {
  max-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 45%;
}

.gallery__paint {
  max-width: 266px;
  max-height: 200px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 30vmin;
  width: 100%;
  background-color: var(--black-one);
  background-size: cover;
  margin-bottom: 1.5em;
}

.gallery__curly {
  position: absolute;
  bottom: 20px;
  left: -140px;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.gallery__curly path {
  stroke: var(--main-yellow);
}

@media (min-width: 600px) {
  .gallery__frames {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .gallery__set {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .gallery__paint {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  .gallery__paint:nth-child(2) {
    margin: 0 5vmin;
  }
}

.table-content {
  padding: 3em 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.table-content p,
.table-content strong,
.table-content button {
  font-family: var(--second-font);
}

.table-content__main {
  margin-bottom: 2em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.table-content__main h1 {
  z-index: 10;
  font-family: var(--main-font);
  font-size: 25px;
  margin-bottom: 2em;
  position: relative;
}

.table-content__main h1::after {
  z-index: -10;
  position: absolute;
  right: -5px;
  top: 0;
  content: "";
  width: 105px;
  height: 35px;
  background-color: var(--main-yellow);
}

.table-content__paints {
  min-width: 240px;
  min-height: 308px;
  max-width: 375.6px;
  max-height: 483px;
  width: 40vmin;
  height: 50vmin;
  background-color: rebeccapurple;
  overflow: hidden;
  position: relative;
}

.table-content__paint {
  position: absolute;
  background-image: url("https://historia-arte.com/_/eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpbSI6WyJcL2FydHdvcmtcL2ltYWdlRmlsZVwvZWQyYjZkNmUzNDZhNjE0OGVmMTJmMGNjNzljOWIzOWQuanBnIiwicmVzaXplLDE1MDB8Zm9ybWF0LHdlYnAiXX0.MTyzxwf6Vyc4sOV966i8LupVeKze7WSJASy/VrdcqQOg.webp");
  background-size: cover;
  width: 100%;
  height: 100%;
  right: 0;
  bottom: 0;
}

.table-content__paint:nth-child(2) {
  width: 60%;
  height: 60%;
}

.table-content__paint:nth-child(3) {
  width: 30%;
  height: 30%;
}

.table-content__paint:nth-child(2), .table-content__paint:nth-child(3) {
  -webkit-box-shadow: -10px 2px 15px 7px rgba(0, 0, 0, 0.7);
          box-shadow: -10px 2px 15px 7px rgba(0, 0, 0, 0.7);
}

.table-content__paint:hover {
  -webkit-filter: contrast(200%);
          filter: contrast(200%);
}

.table-content__table {
  width: 100%;
  position: relative;
  z-index: 10;
}

.table-content__table::before {
  content: "";
  position: absolute;
  z-index: -10;
  width: 400%;
  height: 5.4em;
  left: -200px;
  background-color: var(--second-white);
}

.table-content__header {
  padding: 1em 0;
  margin-bottom: 1.5em;
}

.table-content__header h1 {
  font-family: var(--main-font);
  font-size: 20px;
  margin-bottom: 0.3em;
  color: var(--black-three);
}

.table-content__users-rate {
  max-width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.table-content__users-rate p {
  font-family: var(--second-font);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  color: var(--font-gray);
}

.table-content__users-rate p strong {
  margin-right: 0.5em;
}

.table-content__stars {
  margin-right: 0.5em;
}

.table-content__stars img {
  width: 20px;
  height: 100%;
}

.table-content__users-rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.table-content__size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 0.5em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.3em;
  border-bottom: 1px solid #c2c2c2;
}

.table-content__size p {
  color: var(--font-gray);
}

.table-content__price {
  color: #d2cdc9;
  font-weight: 500;
  font-size: 20px;
}

.table-content button {
  background-color: var(--main-salmon);
  color: var(--main-white);
  padding: 0.5em 1em;
  border-radius: 6px;
}

:root {
  --main-font: "Playfair Display", serif;
  --second-font: "Josefin Sans", sans-serif;
}
/*# sourceMappingURL=main.css.map */